# Node modules and dependencies
node_modules/
package-lock.json

# Environment files (contain sensitive data)
.env
*.key
*.crt
*.ca-bundle
harish_key_3.pem
domainManagementAPI/domain-email-api-459012-cd9e167afe23.json
domainManagementAPI/domain-email-api-459012-85372904c0cd.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
dist/
coverage/
.DS_Store

# IDE and Editor settings
.vscode/
*.swp

# Misc
*.bak
*.tmp
*.backup
